<!-- As a link -->
<!-- As a heading -->
<nav class="navbar navbar-light bg-info row">
    <div class="col-md-3">
        <span class="navbar-brand mb-0 h1 text-white">Parking System</span>
    </div>
    <div class="col-md-7 ">
        <form [formGroup]="form">
            <div class="row  rounded d-flex align-items-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputEmail4" class="box-lightblue m-0">Search Via</label>
                        <select class="form-control" formControlName="searchVia">
                            <option *ngFor="let item of searchVia" [value]="item.value">{{item.label}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="text" class="form-control" formControlName="registrationNo"
                            [placeholder]="form.value['searchVia'] === 'registrationNo' ? 'Search using registration No' : 'Search using slot. Eg:   L1,R1,S1'"
                            name="registrationNo">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm" (click)="onSubmit()" [disabled]="!form.valid">
                        Search
                    </button>
                </div>

            </div>
        </form>
    </div>

</nav>