<div class="container-fluid">
    <form [formGroup]="form">
        <div class="row border rounded">
            <div class="col-md-12 my-2">
                <div class="form-label-group">
                    <input type="text" class="form-control" formControlName="vehicleType"
                        placeholder="Enter Vehicle Type: M/C/L" name="vehicleType">
                </div>
            </div>
            <div class="col-md-12 my-2">
                <div class="form-label-group">
                    <input type="text" class="form-control" formControlName="registrationNo"
                        placeholder="Enter Registration No" name="registrationNo">
                </div>
            </div>
            <div class="col-md-6 text-left">
                <div class="alert alert-primary" role="alert" *ngIf="message">
                    Parking spot : {{message}}
                </div>
            </div>
            <div class="col-md-6 my-1 text-right">
                <button class="btn btn-primary btn-sm" (click)="onSubmit()">
                    Park Vehicle
                </button>
            </div>
        </div>
    </form>
</div>