<app-header></app-header>

<div class="row pl-4 my-2">
    <div class="col-12">
        <ngb-alert (close)="close()" [type]="alertType" *ngIf="successMessage" (close)="successMessage = null">
            {{successMessage}}
        </ngb-alert>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-7 border">
            <app-data-table [data]="data"></app-data-table>
        </div>
        <div class="col-md-5 border">
            <app-input-form (updateParkedVehicles)="getAllCount()"></app-input-form>
        </div>
    </div>
</div>


<!-- <div class="row pl-4" style="position: absolute; bottom: 0; left: 12; min-width: 300px;"> -->