<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sr no</th>
            <th scope="col">Vechicle Type</th>
            <th scope="col">Level No</th>
            <th scope="col">Row No</th>
            <th scope="col">Slot No</th>
            <th scope="col">Registration No</th>

        </tr>
    </thead>
    <tbody *ngIf="data.length > 0;else nodata">
        <tr *ngFor="let vehicle of data; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ vehicle.vehicleType }}</td>
            <td>{{ vehicle.slot['levelId'] }}</td>
            <td>{{ vehicle.slot['rowId'] }}</td>
            <td>{{ vehicle.slot['slotNumber'] }}</td>
            <td>{{ vehicle.registrationNo }}</td>
        </tr>
    </tbody>
    <ng-template #nodata>
        No vehicles are parked
    </ng-template>
</table>